@model PurchDep.Domain.Stock

<section>
    <h1>Stock Details</h1>
    <ul>
        <li><p>Id : @Model!.Id</p></li>
        <li><p>Name : @Model!.Name</p></li>
    </ul>
    <button asp-action="Delete" asp-route-id="@Model!.Id">Delete</button>
    <h2>Stocks Products</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Suppliers Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
           @foreach(var product in Model.StocksProducts)
           {
               <tr>
                   <td>
                       <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                           @product.Id
                       </a>
                   </td>
                   <td>@product.Name</td>
                   <td>@product.SuppliersPrice</td>
                   <td>@product.Quantity</td>
               </tr>
           }
        </tbody>
    </table>
</section>

